header, footer { 
color: white;
}

h1, h2, h3 {
font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
font-family: Georgia, Cambria, "Times New Roman", serif;
background-color: #FFFFCC;
}
h1 {
font-size: 200%;
color: #ed8030;
font-style: serif;
font-weight: bold;
text-shadow: 3px 3px 3px rgba(0,0,0,0.3)
}